html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

main {
  font-family: "PT Serif", serif;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

nav > ol li, a {
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
}

a:hover {
  color:#000;
  text-decoration: none;
}

main > ol li {
  list-style-type: lower-greek;
  line-height:1.2rem;
  font-family: "PT Serif", serif;
  color: #000;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 80%;
}

dd {
  font-size: 85%;
}

ul li {
  font-size: 85%;
}

ol li {
  font-size: 85%;
}

.quote {
  font-size: 110%;
  font-style: italic;
}

.para {
  font-size: 85%;
}

.para2 {
  font-size: 85%;
}

.ssize {
  font-style: italic;
}

.list > dt {
  font-weight: normal;
}

.days {
  font-weight: bolder;
  text-align: center;
}

.chris {
  font-size: 85%;
}
