html {
  background-color: #c9b5ab;
}

main {
  font-family: 'PT Serif', serif;
}

h1 {
   font-family: 'PT Sans', sans-serif;
   font-weight: bold;
 }

h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

a {
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color:#000;
}

main > ol li {
  list-style-type: lower-greek;
  line-height:1.2rem;
  font-family: 'PT Serif', serif;
  color: #000
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.ssize {
  font-style: italic;
}

.list > dt {
  font-weight: bold;
}
